<div class="container">
  <main class="main">
    <div class="logo">
      <i class="icon icon-mountain"></i>
    </div>
    <h1 class="main__title">Sign Up</h1>

    <form class="main__form" action="" [formGroup]="form" (ngSubmit)="submit()">
      <div class="item__validation" *ngIf="authError">
        {{ authError?.message }}
      </div>
      <ul class="form__list">
        <li class="form__item">
          <input
            #firstName
            class="input"
            type="text"
            placeholder="First Name"
            formControlName="firstName"
            autocomplete="current-firstName"
          />
          <i class="icon icon-user input__icon"></i>
          <div
            class="item__validation"
            *ngIf="
              form.get('firstName').invalid && form.get('firstName').touched
            "
          >
            <p *ngIf="form.get('firstName').errors.required">
              Enter a First Name!
            </p>
          </div>
        </li>
        <li class="form__item">
          <input
            #lastName
            class="input"
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
            autocomplete="current-lastName"
          />
          <i class="icon icon-user input__icon"></i>
          <div
            class="item__validation"
            *ngIf="form.get('lastName').invalid && form.get('lastName').touched"
          >
            <p *ngIf="form.get('lastName').errors.required">
              Enter a Last Name!
            </p>
          </div>
        </li>
        <li class="form__item">
          <input
            #userEmail
            class="input input__email"
            type="email"
            placeholder="E-mail"
            formControlName="email"
            autocomplete="current-email"
          />
          <i class="icon icon-user input__icon"></i>
          <div
            class="item__validation"
            *ngIf="form.get('email').invalid && form.get('email').touched"
          >
            <p *ngIf="form.get('email').errors.required">
              Enter an E-mail!
            </p>
            <p *ngIf="form.get('email').errors.pattern">Enter a valid email!</p>
          </div>
        </li>
        <li class="form__item">
          <input
            #userPassword
            class="input input__password"
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
          />
          <i class="icon icon-lock input__icon"></i>
          <div
            class="item__validation"
            *ngIf="form.get('password').invalid && form.get('password').touched"
          >
            <p *ngIf="form.get('password').errors.required">
              Enter a password!
            </p>
            <p *ngIf="form.get('password').errors.minlength">
              The length must be at least
              {{ form.get("password").errors.minlength.requiredLength }}.
              Current Length -
              {{ form.get("password").errors.minlength.actualLength }}
            </p>
          </div>
        </li>
      </ul>
      <button
        class="button button__login"
        type="submit"
        [disabled]="form.invalid"
      >
        Sign up
      </button>
    </form>
    <div class="form__controls">
      <p class="main__social-text">Or sign up using</p>

      <ul class="buttons__list">
        <li class="button__item">
          <button
            class="button button__login-social"
            type="button"
            (click)="authServiceAccess.GoogleAuth()"
          >
            G+
          </button>
        </li>
      </ul>
    </div>
  </main>
</div>
