jw-modal {
  display: none;
}

.jw-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 10;

  overflow: auto;
}

.jw-modal-body {
  animation-name: bounce;
  animation-duration: 0.6s;

  width: 39vw;
  margin: 50px 30%;

  border-radius: 10px;
  background: #fff;
}

.jw-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

body.jw-modal-open {
  overflow: hidden;
}

.modal-wrap {
  display: flex;
  border-top: 1px solid #ccc;
}

.modal-close {
  font-size: 15px;
  margin-left: 5px;
  padding-bottom: 4px;
  color: #26a5f3;

  border: transparent;
  background: transparent;
  cursor: pointer;
}

.input-block__wrap {
  padding: 10px;
}

.modal-img {
  margin-top: 10px;
  margin-left: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
