<aside class="aside-nav">
  <div class="logo">
    <i class="icon icon-mountain icon-32"></i>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-home-52"></i>
          Home
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-zoom-2"></i>
          Explore
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-bell-53"></i>
          Notifications
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-email-84"></i>
          Messages
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-bookmark-2"></i>
          Bookmarks
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-ic_filter_list_24px"></i>
          Lists
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link">
          <i class="icon icon-single-01"></i>
          Profile
        </a>
      </li>
    </ul>
    <button
      (click)="openModal('post-modal')"
      type="button"
      class="nav__btn-post button__post"
    >
      Post
    </button>
  </nav>
</aside>
