<aside class="suggestions">
  <section class="suggestions__follow follow">
    <h2 class="follow__title">Who To Follow</h2>
    <ul class="follow__list">
      <li class="follow__item">
        <img class="follow__img" src="../../assets/img/Barak.jpg" alt="User" />
        <div class="follow__names-wrap">
          <h3 class="follow__name">Barack obama</h3>
          <p class="follow__username">@BarackObama</p>
        </div>
        <button class="follow__btn" href="#">Follow</button>
      </li>
      <li class="follow__item">
        <img class="follow__img" src="../../assets/img/Noize.jpg" alt="User" />
        <div class="follow__names-wrap">
          <h3 class="follow__name">Shchetyna Vladyslav</h3>
          <p class="follow__username">@ShchVl</p>
        </div>
        <button class="follow__btn" href="#">Follow</button>
      </li>
      <li class="follow__item">
        <img class="follow__img" src="../../assets/img/nix.jpg" alt="User" />
        <div class="follow__names-wrap">
          <h3 class="follow__name">Nix solutions</h3>
          <p class="follow__username">@nix</p>
        </div>
        <button class="follow__btn" href="#">Follow</button>
      </li>
    </ul>
    <a class="follow__link">Show more</a>
  </section>
</aside>
