<li class="posts__item">
  <img class="user-logo" src="{{ post.authorImage }}" alt="User Logo" />
  <div class="content-wrap">
    <div class="item__title">
      <div class="item__title-wrap">
        <h3 class="item__name">{{ post.author }}</h3>
        <p class="item__username">@{{ post.author }}</p>
        <span class="item__time">{{
          post.date.toDate() | date: "shortTime"
        }}</span
        ><!-- date: "MMM d, yyy" -->
      </div>
      <div
        *ngIf="post.author == authService.userData.displayName"
        class="buttons-wrap"
      >
        <button
          (click)="editPost(post)"
          type="button"
          class="item__btn item__edit"
        >
          Edit
        </button>
        <button
          (click)="deletePost(post)"
          type="button"
          class="item__btn item__delete"
        >
          Delete
        </button>
      </div>
    </div>
    <p class="item__desc">{{ post.description }}</p>
    <div *ngIf="editState && postToEdit.id == post.id">
      <form (ngSubmit)="updatePost(post)">
        <input
          [(ngModel)]="post.description"
          class="message__input"
          type="text"
          name="post"
        />
        <button type="submit" class="admin-main__post button__post">
          Update
        </button>
      </form>
    </div>
    <div *ngIf="post.image" class="message__image">
      <img src="{{ post.image }}" />
    </div>
    <div class="item__actions-wrap">
      <ul class="item-actions__list">
        <li class="item-actions__item">
          <i class="icon icon-chat icon-16"></i>
          <span class="count">{{ post.comments }}</span>
        </li>
        <li class="item-actions__item">
          <i class="icon icon-share icon-16"></i>
          <span class="count">{{ post.share }}</span>
        </li>
        <li class="item-actions__item">
          <i class="icon icon-heart icon-16"></i>
          <span class="count">{{ post.likes }}</span>
        </li>
        <li class="item-actions__item">
          <i class="icon icon-upload icon-16"></i>
        </li>
      </ul>
    </div>
  </div>
</li>
